body{
    font-family: sans-serif;
}
.container{
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding-left: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
form>input{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-size: 24px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(53, 2, 2);
    color:black;
}
form>input:focus{
    outline: none;
}
h1{
    margin-left: 70px;
    margin-top: 30px;
    color: rgba(112, 12, 12, 0.655);
}
#submit{
    background-color: rgb(6, 183, 133);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 26px;
    margin-top: 40px;
}
#submit:hover{
    background-color: rgba(3, 110, 80, 0.936);
}